__pycache__/
*.pyc
.env
.ipynb_checkpoints/
OpenAQ-Ver2/hanoi_air_quality_history_COMBINED_LONG.csv
Open-Meteo-Dataset/hanoi_air_quality_from04Aug_CAMS_COMBINED.csv
Open-Meteo-Dataset/hanoi_weathermeteo_from04Aug_COMBINED.csv
Open-Meteo-Dataset/data.csv
