# ==========================================
# Cấu hình bảo mật & Môi trường (QUAN TRỌNG)
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Python & Jupyter Notebook
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.pyc
.python-version
.ipynb_checkpoints/
venv/
ENV/
env/

# ==========================================
# dbt (Data Build Tool)
# ==========================================
# Bỏ qua các file rác sinh ra trong quá trình compile và run
**/dbt-transform/target/
**/dbt-transform/dbt_packages/
**/dbt-transform/logs/

# ==========================================
# Airflow, Database & Logs
# ==========================================
logs/
**/airflow/logs/
**/postgres_data/

# ==========================================
# Dữ liệu nặng (Data Files & Datasets)
# ==========================================
# Bỏ qua mọi file CSV để tránh làm phình Git
*.csv
*.parquet

# Bỏ qua các thư mục chứa raw data cũ
OpenAQ-Ver2/
.ipynb_checkpoints/
OpenAQ-Ver2/hanoi_air_quality_history_COMBINED_LONG.csv
Open-Meteo-Dataset/hanoi_air_quality_from04Aug_CAMS_COMBINED.csv
Open-Meteo-Dataset/hanoi_weathermeteo_from04Aug_COMBINED.csv
Open-Meteo-Dataset/pipelineDataViaSupabase/openmeteoDatasetCombined.csv
Open-Meteo-Dataset/hanoi_aq_weather_MERGED.csv
Open-Meteo-Dataset/hanoi_realtime_data_updated.csv


# ==========================================
# OS & IDE Caches
# ==========================================
.DS_Store
.vscode/
.idea/
