# --- CẤU HÌNH DATABASE CHÍNH (RAW DATA) ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# --- CẤU HÌNH DATABASE CHO AIRFLOW (METADATA) ---
AIRFLOW_DB_NAME=
AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=

# --- CẤU HÌNH TÀI KHOẢN ĐĂNG NHẬP AIRFLOW UI ---
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=


# --- CẤU HÌNH AIRFLOW HỆ THỐNG ---
AIRFLOW_UID=
AIRFLOW_API_SECRET_KEY=